body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

#constellation-canvas {
}

.navBarTitle:hover {
  opacity: 0.5 !important;
}

.centerCard {
  margin-left: 2%;
  margin-right: 2%;
}
